* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(45, 176, 252);
  box-shadow: 0 1px 5px 0px grey;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.logo img {
  width: auto;
  height: 2.5rem;
  border-radius: 50%;
}

/* Footer CSS*/
footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
}
footer span {
  font-size: 1.075rem;
}
/*Home Css*/
.heading {
  width: 100%;
  height: 81.3vh;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.heading h1 {
  color: rgb(141, 38, 236);
  font-size: 3rem;
  text-align: center;
}
.heading p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.heading button {
  width: 14rem;
  height: 3rem;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    to right,
    rgb(140, 220, 247),
    rgb(82, 201, 248),
    rgba(34, 107, 241, 0.877),
    rgb(59, 122, 240)
  );
}
.heading button:hover {
  color: white;
}
.container {
  display: flex;
}
.data-section {
  width: 22%;
  min-width: 18rem;
  border-right: 4px solid grey;
}

/* ResumeData CSS*/
.section {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  background: rgb(192, 191, 192);
}
.section:not(:last-child) {
  border-bottom: 1px solid grey;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.section-body div {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.section-body label {
  font-weight: 600;
}
.section-body input {
  width: 100%;
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.section-body input:hover {
  background: rgb(236, 236, 236);
}
.section-body input:focus {
  outline: 1px solid rgb(24, 94, 245);
  box-shadow: 0 0 5px rgb(35, 98, 235);
}
.section-body textarea {
  min-width: 15rem;
  max-width: 15rem;
  min-height: 4rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  scroll-behavior: smooth;
}
.section-body textarea::-webkit-scrollbar {
  width: 0.65rem;
  border-radius: 0.5rem;
  background: rgb(175, 173, 173);
}
.section-body textarea::-webkit-scrollbar-thumb {
  background: rgb(75, 74, 74);
  border-radius: 0.5rem;
}
.section-body textarea:focus {
  outline: 1px solid rgb(24, 94, 245);
  box-shadow: 0 0 5px rgb(35, 98, 235);
}
.color{
  padding: 1rem 1.5rem;
  background: rgb(192, 191, 192);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border-bottom: 1px solid grey;
}
.color div{
  display: flex;
  flex-direction: column;
}
.color div label{
  font-weight: 600;
}
.add-btn {
  width: 15rem;
  height: 1.75rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.6rem;
  display: block;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  background: rgb(35, 98, 235);
  cursor: pointer;
}
.add-btn:hover {
  background: rgb(6, 82, 245);
}
.alert-msg {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: red;
}
.list {
  width: auto;
  height: 2rem;
  margin-top: 0.6rem;
  padding: 0.25rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  background: rgb(250, 246, 246);
  border: 1px solid rgb(24, 94, 245);
  border-radius: 3px;
  cursor: pointer;
}
.list:hover {
  background-color: rgb(204, 201, 201);
}
.list span {
  font-weight: 600;
}
.list button {
  font-size: 0.9rem;
  border: none;
  background: none;
  border-radius: 50%;
}
.list button:hover {
  filter: drop-shadow(0 0 5px red);
}

/* Resume Preview CSS*/
.preview {
  width: 75%;
  padding: 1rem 2rem 1rem 4rem;
}
.dropdown {
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.dropdown select {
  width: 10rem;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0 0.75rem;
  font-size: 1.025rem;
  border-radius: 3px;
  border: 1px solid grey;
}
.dropdown select:hover {
  background: rgb(226, 226, 226);
}
.dropdown select:focus {
  outline: none;
}
.dropdown select option {
  background: white;
}
.template {
  width: 50rem;
  height: 70rem;
  outline: 1px solid black;
}
.minimalist {
  padding: 1rem 2rem;
}
.temp-head {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.temp-head h2 {
  font-size: 2rem;
}
.temp-head div {
  display: flex;
  gap: 1rem;
}
.temp-section {
  margin-top: 0.25rem;
  padding: 0.25rem 0;
}
.temp-section ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.65rem;
}
.temp-section li {
  display: flex;
  flex-direction: column;
  row-gap: 0.15rem;
}
.temp-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.temp-content div {
  display: flex;
  justify-content: space-between;
}
.column-head {
  padding: 2rem 2.5rem;
  height: 9rem;
}
.column-head h2 {
  font-size: 2.5rem;
}
.column-head h4 {
  font-size: 1.3rem;
}
.col-body {
  display: flex;
  height: 61rem;
}
.left-body {
  width: 15rem;
  padding: 0.25rem 1.5rem ;
  background-color: rgb(211, 209, 209);
}
.left-body h2{
  font-weight: 700 !important;
}
.left-body .contact{
  font-weight: 600;
}
.right-body {
  width: 40rem;
  padding: 0.25rem 1.75rem;
  background-color: white;
}
.left-body .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.left-body .skills span {
  width: auto;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
}
.download-btn{
  width: 9rem;
  height: 2.1rem;
  margin-right: 2.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
  border: 1px solid transparent;
}
.download-btn:hover{
  border: 1px solid black;
  filter: invert(10%);
}
